{% extends "base.html" %}
{% block title %}User Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100">
    <div class="col-8 align-items-center text-light">
        <h2 class="text-center">My Account</h2>
        <h3>Profile</h3>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" class="form-control" type="text" value="{{ user.username }}"
                    aria-label="disable input for username" disabled>
            </div>
            <div class="mb-3">
                {{ form|crispy }}
            </div>
        </form>

        <hr class="border border-primary border-3 opacity-75">
        <h3>Bumps</h3>
        <p>Bumping a server will push it higher in the listings</p>
        <p>You have {{ bumps_left }} bumps remaining.</p>
        <p>Your bumps refill as old ones expire.</p>
        <table class="table table-striped table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Server</th>
                    <th scope="col">Link</th>
                    <th scope="col">Expiry</th>
                </tr>
            {% for bump in bumps %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{bump.listing}}</td>
                <td><a href="{% url 'server' bump.url %}" class="text-decoration-none">Go to listing...</a></td>
                <td>{{bump.expiry}}</td>
            </tr>
            {% endfor %}
        </table>

        <hr class="border border-primary border-3 opacity-75">
        <h3>Your Listings:</h3>

        {% for item in server_listing %}
        <div class="border border-primary p-1 m-3">
            <div class="d-flex">
                <div class="col-2 p-1">
                    {% if "placeholder" in item.logo.url %}
                    <img class="img-fluid" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                    {% else %}
                    <img class="img-fluid" src=" {{ item.logo.url }}">
                    {% endif %}
                </div>
                <div class="col-9 p-1">
                    <a href="{% url 'server' item.slug %}">
                        <h5 class="text-light">{{ item.title }}</h5>
                    </a>
                    <p class="text-light">{{ item.short_description }}</p>
                    <p class="text-light">Tags:
                        {% for tag in item.tags.all %}
                        <span class="tag rounded-end text-light me-1 p-1">{{ tag }}</span>
                        {% endfor %}
                    </p>
                    <p class="text-aqua"><i class="fas fa-heart text-aqua"></i> {{ item.number_of_likes }} <span
                            class="visually-hidden">likes.</span></p>
                </div>
            </div>
            <div>
                <a class="btn btn-primary mb-1" href="/server_edit/{{item.pk}}">Edit</a>
                {% if item.status == 0 %}
                <button type="button" class="btn btn-danger mb-1">Disable</button>
                {% else %}
                <button type="button" class="btn btn-success mb-1">Enable</button>
                {% endif %}
                <button type="button" class="btn btn-danger mb-1" data-item="{{item.pk}}" data-toggle="modal" data-target="#server-listing-delete-modal">
                    Delete Listing
                </button>
            </div>
        </div>
        {% endfor %}
        {% if num_of_listings >= 3 %}
        <p>You cannot create any more listings, you have reach maximum number of listings for 1 account.</p>
        {% else %}
        <a class="btn btn-success" href="{% url 'server_create' %}">Create listing</a>
        {% endif %}
        <hr class="border border-primary border-3 opacity-75">
        <h3>Manage account</h3>
        <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#email-address-update-modal">
            Update Email address
        </button>
        <a class="btn btn-success mb-3" href="{% url 'password_change' %}">Change Password</a>
        <button type="button" class="btn btn-danger mb-3" data-toggle="modal" data-target="#delete-account-modal">
            Delete Account
        </button>

        <!-- Delete Account Modal -->
        <div class="modal fade text-dark" id="delete-account-modal" tabindex="-1" role="dialog"
            aria-labelledby="Delete Account Modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Delete Account Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>
                                Deleting your account is permanent and irreversible.
                                <br>
                                <br>All information linked to the account will also be deleted including any listings.
                            </p>
                            {{ form_2|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" name="account-delete-confirm">Confirm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Email Address Update Modal -->
        <div class="modal fade text-dark" id="email-address-update-modal" tabindex="-1" role="dialog"
            aria-labelledby="Email Address Update Modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Email Address Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="email-update-form">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>
                                Please provide your updated email address.
                                <br>
                                <br>You will be sent an email to verify your new email address before it can be used.
                                <br>
                                <br>Your previous email address will become inactive when click confirm below. This
                                means features like forgotten password will no longer work until your verify the new
                                email address.
                            </p>
                            {{ form_3|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                name="email-address-update-confirm">Confirm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Listing delete Modal -->
        <div class="modal fade text-dark" id="server-listing-delete-modal" tabindex="-1" role="dialog"
            aria-labelledby="Sever Listing Delete Modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Delete Listing Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post" id="server-listing-delete-form">
                        {% csrf_token %}
                        <div class="modal-body">
                            <p>
                                Deleting this listing is permanent and irreversible.
                            </p>
                            {{ form_4|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" name="server-listing-delete-confirm">Confirm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}