{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 text-light">
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-11 col-11 d-flex flex-column align-items-left">
        <!-- Page header -->
        <h2 class="text-light text-center m-5">Password reset</h2>
        <hr class="border border-light border-3 opacity-75 w-100 mt-0">
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form method="post" class="text-light w-100">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex mb-3 border rounded">
                <button class="btn btn-dark w-100" type="submit" data-bs-toggle="tooltip" title="Reset my password">Reset my password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}