{% extends "base.html" %}
{% block title %}Password reset complete{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100">
    <div class="col-8 d-flex flex-column align-items-center text-light">
        <h2>Password reset complete</h2>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a class="btn btn-success mb-3" href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock %}