{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100">
    <div class="col-8 d-flex flex-column align-items-center">
        <h2 class="text-light">Sign up</h2>
        <form method="post" class="text-light" id="signup-form">

            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="btn btn-primary">
                Sign up
            </button>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade text-dark" id="CheckEmailModal" tabindex="-1" role="dialog" aria-labelledby="Alert for user"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="CheckEmailModalTitle">Verify your email address</h5>
        </div>
        <div class="modal-body">
            <p>
                Please verify email address by clicking on link in email sent to you.
                <br>
                <br>Please remember to check your spam if you do not receive email in your inbox.
            </p>
        </div>
        <div class="modal-footer">
            <form method="post">
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Close</button>
            </form>
        </div>
    </div>
</div>
</div>



{% endblock %}