{% extends "base.html" %}
{% block title %}Staff Account{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 text-light">
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-11 col-11 d-flex flex-column align-items-left">
        <!-- Page header -->
        <h2 class="text-light text-center m-5">Staff Account Page</h2>
        <hr class="border border-light border-3 opacity-75 w-100 mt-0">
        <h3>Image approval</h3>
        <p>Image currently awaiting review: {{ img_need_review_count }}</p>
        {% if img_need_review_count > 0 %}
        <div class="d-flex mb-3 border rounded">
            <a class="btn btn-dark w-100" href="{% url 'staff_image_review' %}" data-bs-toggle="tooltip" title="Image Review"><i class="bi bi-images"></i></a>
        </div>
        {% else %}
        <div class="d-flex mb-3 border rounded"  data-bs-toggle="tooltip" title="Image Review (Disabled)">
            <a class="btn btn-dark disabled  w-100" href="{% url 'staff_image_review' %}"><i class="bi bi-images"></i></a>
        </div>
        {% endif %}
        <hr class="border border-light border-3 opacity-75">
        <h3 class="mb-3">Management</h3>
        <div class="d-flex mb-3 border rounded">
            <a class="btn btn-dark w-100" href="{% url 'staff_user_management_search' %}" data-bs-toggle="tooltip" title="Manage Users"><i class="bi bi-people"></i></a>
            <a class="btn btn-dark w-100" href="{% url 'game_management' %}" data-bs-toggle="tooltip" title="Manage Games"><i class="bi bi-joystick"></i></a>
            <a class="btn btn-dark w-100" href="{% url 'tag_management' %}" data-bs-toggle="tooltip" title="Manage Tags"><i class="bi bi-tags"></i></a>
        </div>
    </div>
</div>
{% endblock %}