{% extends "base.html" %}
{% block title %}Image Approval{% endblock %}

{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100">
    <div class="col-8 align-items-center text-light">
        <h2>Image Approval</h2>

        <img src="{{ image.image }}" class="img-fluid" alt="Responsive image">

        <table class="table table-striped table-dark">
            <tr>
                <td># ID</td>
                <td id="current_id">{{image.id}}</td>

            </tr>
            <tr>
                <td>Status</td>
                <td id="status_txt">{{image.status_txt}}</td>

            </tr>
            <tr>
                <td>User</td>
                <td>{{image.user_id}}</td>
            </tr>
            <tr>
                <td>Listing</td>
                <td>{{image.listing_id}}</td>
            </tr>

        </table>

        <button type="button" class="btn btn-success m-1" id="btnApprove">Approve</button>
        <button type="button" class="btn btn-danger m-1" id="btnReject">Reject</button>
        <button type="button" class="btn btn-warning m-1" id="btnBan">Ban User</button>
        <button type="button" class="btn btn-primary m-1" id="btnNext" disabled>Next</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/script_image_approval.js"></script>
{% endblock %}