{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 text-light">
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-11 col-11 d-flex flex-column align-items-left">
        <!-- Page header -->
        <h2 class="text-light text-center m-5">User Search</h2>
        <hr class="border border-light border-3 opacity-75 w-100 mt-0">
        <h3>Search</h3>
        <form method="post" id="user-search-form" class="w-100 d-flex flex-column">
            {% csrf_token %}
            <label>Name / Email</label>
            <input type="text" id="search-name" class="mb-3">
            <div class="d-flex mb-3 border rounded">

                    <button type="submit" id="btnIDSearch" name="search-users-id" class="btn btn-dark w-100"  data-bs-toggle="tooltip" title="ID number"><i class="bi bi-123"></i></button>
                    <button type="submit" id="btnUserSearch" name="search-users-username" class="btn btn-dark w-100" data-bs-toggle="tooltip" title="Username"><i class="bi bi-type"></i></button>
                    <button type="submit" id="btnEmailSearch" name="search-users-email" class="btn btn-dark w-100" data-bs-toggle="tooltip" title="Email"><i class="bi bi-envelope-at"></i></button>

            </div>
        </form>
        <hr class="border border-light border-3 opacity-75 w-100 mt-0">
        <h3>Results</h3>
        <p>(max 100 results)</p>
        <p><span id='id_results_number'></span></p>
        <div class="table-responsive-md">
            <table class="table text-light" id="user-search-display-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/script_user_management.js'%}"></script>
{% endblock %}