{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock head %}

{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100 text-light">
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-11 col-11 d-flex flex-column align-items-center">
        <h2 class="text-light text-center m-5">Game Management</h2>
        <hr class="border border-light border-3 opacity-75 w-100">

        <form method="post" enctype="multipart/form-data" class="d-flex flex-column">
            {% csrf_token %}
            <p>Select Game:</p>

            <select id="game-select-drop-down" class="game-select-drop-down" name="state">
                {% for game in games %}
                <option value="{{game.id}}">{{game.name}}</option>
                {% endfor %}
            </select>

            <button type="button" id="btnLoadGame" class="btn btn-success pt-1 mt-3 mb-3">Select game</button>
            <p>Or</p>
            <button type="button" id="btnNewGame" class="btn btn-primary">Add new game</button>
        </form>

        <hr class="border border-light border-3 opacity-75 w-100">

        <h3 id="form-header"></h3>

        <form method="post" id='game-management-form' enctype="multipart/form-data" class="d-flex flex-column">
            {% csrf_token %}
            <div id='form-internal-container' class="d-none d-flex flex-column">
                {{ form.id | as_crispy_field }}
                {{ form.name | as_crispy_field }}
                {{ form.slug | as_crispy_field }}

                <label for="tags-multiple" class="mb-1">Tags:</label>
                <select id="tags-multiple" class="tags-multiple" name="tags" multiple="multiple">
                    {% for tag in tags %}
                    <option value="{{tag.pk}}">{{tag.name}}</option>
                    {% endfor %}
                </select>

                <!-- Game Cover-->
                <div id="game-cover-container" class="d-none">

                </div>
                <div id="no-game-cover-container" class="d-flex flex-column justify-content-center text-bg-secondary opacity-75 d-none mt-3 mb-2" style="width: 100%; height: 25vh;">
                    <p class="mb-1 text-center"><i class="bi bi-camera"></i></p>
                    <p class="mb-1 text-center">No Image</p>
                </div>

                {{ form.image | as_crispy_field }}
                {{ form.status | as_crispy_field }}
                <button type="submit" class="btn btn-primary mb-3" disabled></button>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="../static/js/script_game_management.js"></script>
{% endblock %}