{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block head %}
{% endblock head %}
{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100 text-light">
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-11 col-11 d-flex flex-column align-items-left">
        <!-- Page header -->
        <h2 class="text-light text-center m-5">User Management</h2>
        <hr class="border border-light border-3 opacity-75 w-100 mt-0">
        <h3>User settings</h3>
        <form method="post" enctype="multipart/form-data" id="update-user-form" class="d-flex flex-column w-100">
            {% csrf_token %}
            {{ form.id | as_crispy_field }}
            {{ form.username | as_crispy_field }}
            {{ form.first_name | as_crispy_field }}
            {{ form.email | as_crispy_field }}
            {{ form.email_verified | as_crispy_field }}
            {{ form.is_staff | as_crispy_field }}
            {{ form.is_active | as_crispy_field }}
            {{ form.is_banned | as_crispy_field }}
            <div class="row d-flex border rounded w-100 mb-3 ms-0">
                <button type="button" id="btnUpdate" name="user_management_save" class="col btn btn-dark" data-bs-toggle="tooltip" title="Save"><i class="bi bi-save"></i></button>
                {% if form.is_banned.value == 1 %}
                <button type="button" id="btnUnban" class="col btn btn-dark" data-bs-toggle="tooltip" title="Unban user"><i class="bi bi-circle"></i></i></button>
                {% else %}
                <button type="button" id="btnBan" class="col btn btn-dark" data-toggle="modal" data-target="#user-ban-modal" data-bs-toggle="tooltip" title="Ban user"><i class="bi bi-slash-circle"></i></button>
                {% endif %}
                <button type="button" id="btnVerify" class="col btn btn-dark" data-toggle="modal" data-target="#user-verify-modal" data-bs-toggle="tooltip" title="Send verification email"><i class="bi bi-envelope-exclamation"></i></button>
                {% if user.is_superuser %}
                {% if form.is_staff.value == 0 %}
                <button type="button" id="btnPromote" class="col btn btn-dark" data-toggle="modal" data-target="#user-promote-modal" data-bs-toggle="tooltip" title="Assign as a staff member"><i class="bi bi-award"></i></button>
                {% else %}
                <button type="button" id="btnDemote" class="col btn btn-dark" data-toggle="modal" data-target="#user-demote-modal" data-bs-toggle="tooltip" title="Resign as a staff member"><i class="bi bi-award-fill"></i></button>
                {% endif %}
                {% endif %}
                <button type="button" id="btnDelete" class="col btn btn-dark" data-toggle="modal" data-target="#user-delete-modal" data-bs-toggle="tooltip" title="Delete user"><i class="bi bi-trash"></i></button>
            </div>
        </form>

        <hr class="border border-light border-3 opacity-75 w-100 mt-0">

        <h3 class="mb-3">User's Listings</h3>
        {% if server_listings|length == 0 %}
        <p>User has no listings</p>
        {% endif %}

        {% for listing in server_listings %}
        <!-- Listing container got loop -->
        <div class="border border-light p-1 mb-3">
            <div class="d-flex">
                <!-- Thumbnail-->
                <div class="col-3 mb-1 position-relative overflow-hidden d-flex flex-wrap justify-content-center" style="max-width: 100%; max-height: 25vh;">
                    {% if listing.image_url %}
                    <img class="img-cover" style="height: 25vh;" src="{{ listing.image_url }}" alt="Image uploaded by for listing owner.">
                    <div class="bottom-center">{{ listing.image_status }}</div>
                    {% else %}
                    <div class="d-flex flex-column justify-content-center text-bg-secondary opacity-75" style="width: 100%; height: 25vh;">
                        <p class="mb-1 text-center" style="font-size: xx-large;"><i class="bi bi-camera"></i></p>
                        <p class="mb-1 text-center" style="font-size: x-large;">Awaiting Image</p>
                    </div>
                    {% endif %}
                </div>

                <div class="col-9 ps-1 position-relative">
                    <a href="{% url 'listing_detail' listing.slug %}">
                        <h5 class="text-light">{{ listing.title }}</h5>
                    </a>
                    {% if listing.status == 1 %}
                    <div class='error-message alert alert-success mt-1 mb-1 p-1 position-absolute top-0 end-0' role='alert'>Published</div>
                    {% else %}
                    <div class='error-message alert alert-danger mt-1 mb-1 p-1 position-absolute top-0 end-0' role='alert'>Unpublished</div>
                    {% endif %}
                    <p class="text-light">
                        {% for tag in listing.tags.all %}
                        <span class="badge rounded-pill bg-info text-dark"><i class="bi bi-tag"></i>{{ tag }}</span>
                        {% endfor %}
                    </p>
                    <p class="text-light">{{ listing.short_description|safe }}</p>
                    <div class="d-flex border rounded position-absolute bottom-0 end-0">
                        <!-- Bumps -->
                        <div class="btn btn-dark cursor-pointer m-6" style='cursor: default;' data-bs-toggle="tooltip" title="Active bumps">
                            <i class="fa-solid fa-hand-fist"></i> {{ listing.bump_count }}
                        </div>
                        <!-- Button: View listing -->
                        <a href="{% url 'listing_detail' listing.slug %}" class="btn btn-dark" data-bs-toggle="tooltip" title="View listing"><i class="bi bi-eye"></i></a>
                        <!-- Button: Edit listing -->
                        <a href="/server_edit/{{listing.pk}}" class="btn btn-dark" data-bs-toggle="tooltip" title="Edit listing"><i class="bi bi-pencil-square"></i></a>
                        <!-- Button: Delete listing -->
                        <button type="button" class="btn btn-dark" data-item="{{listing.pk}}" data-toggle="modal" data-target="#listing-delete-modal"  data-bs-toggle="tooltip" title="Delete Listing">
                            <i class="bi bi-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Listing delete Modal -->
<div class="modal fade text-dark" id="listing-delete-modal" tabindex="-1" role="dialog"
aria-labelledby="Sever Listing Delete Modal" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header bg-danger">
            <h5 class="modal-title text-light" id="modal-title">Delete Listing Confirmation</h5>
        </div>
        <form method="post" id="listing-delete-form">
            {% csrf_token %}
            <div class="modal-body">
                <p>Deleting listing is permanent and irreversible.</p>
                <p>Type 'delete' in box to confirm deletion.</p>
                <input type="text" name="delete_listing_confirm" id="delete_listing_confirm" class="form-control w-100">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                    name="listing-delete-confirm">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
</div>

<!-- user delete Modal -->
<div class="modal fade text-dark" id="user-delete-modal" tabindex="-1" role="dialog" aria-labelledby="User Delete Modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-light" id="modal-title">Delete User Confirmation</h5>
            </div>
            <form method="post" id="user-delete-form">
                {% csrf_token %}
                <div class="modal-body">
                    <p> Deleting this user is permanent and irreversible.
                    </p>
                    {{ form_2|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" name="user-delete-confirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- user Verify Confirm Modal -->
<div class="modal fade text-dark" id="user-verify-modal" tabindex="-1" role="dialog" aria-labelledby="User Verify Modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-light" id="modal-title">Verify Confirmation</h5>
            </div>
            <form method="post" id="user-verify-form" name="email-verify">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Please confirm you wish to send user verification email.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" name="user-verify-confirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- user Promote Confirm Modal -->
<div class="modal fade text-dark" id="user-promote-modal" tabindex="-1" role="dialog" aria-labelledby="User Promote Modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-dark" id="modal-title">Promote Confirmation</h5>
            </div>
            <form method="post" id="user-promote-form" name="email-promote">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Please confirm you wish to assign this user as a staff member.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" name="user-promote-confirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- user Demote Confirm Modal -->
<div class="modal fade text-dark" id="user-demote-modal" tabindex="-1" role="dialog" aria-labelledby="User Demote Modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-dark" id="modal-title">Demote Confirmation</h5>
            </div>
            <form method="post" id="user-demote-form" name="email-demote">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Please confirm you wish to resign user as a staff member.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" name="user-demote-confirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- user Ban Modal -->
<div class="modal fade text-dark" id="user-ban-modal" tabindex="-1" role="dialog" aria-labelledby="User Ban Modal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title" id="modal-title">Ban User Confirmation</h5>
            </div>
            <form method="post" id="user-ban-form">
                {% csrf_token %}
                <div class="modal-body">
                    <p>All listings will be deleted permanently and user will not be able to log back in.</p>
                    <p>Type 'ban' in box to confirm ban.</p>
                    <input type="text" name="ban_confirm" id="ban_confirm" class="form-control w-100">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" name="user-ban-confirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Toast -->
<div class="position-absolute top-50 start-50 translate-middle p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-light">
            <strong class="me-auto">SAVED</strong>
            <small></small>
        </div>
        <div class="toast-body bg-light">
            User have been saved to the database.
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/script_user_management_user.js"></script>
{% endblock %}