:root {
    --aqua: rgb(57, 181, 181);
}

.height100vh {
    height: 100vh;
}

.tag {
    background-color: var(--aqua);
}

.text-aqua {
    color: var(--aqua);
}

.bg-1 {
    background-color: rgba(255,255,255,0.05);
}

.bg-2 {
    background-color: rgba(255,255,255,0.05);
}

.bg-3 {
    background-color: #6f42c1;
}

.fill {
    flex: 1 1 auto;
}

.btn-discord {
    background-color: #7289DA;
    color: inherit;
}

.btn-discord:hover {
    background-color: #5f74c0;
}

.bumps {
    border: 1px solid;
    border-radius: 12px;
    padding: 3px 10px;
}