{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load cloudinary %}

{% block content %}


    <div class="container-fluid position-relative" style="height: 100px;">
        <h1 class="position-absolute top-50 start-50 translate-middle text-light">GAMER'S-VERSE</h1>
    </div>

    <div class="container-fluid bg-1 position-relative" style="height: 200px;">
        <h2 class="position-absolute top-50 start-50 translate-middle text-light">FIND YOUR NEW PERFECT HOME</h2>
    </div>

    <div class="container-fluid position-relative d-flex justify-content-center mt-4">
        <h3 class="text-light">Find a private server by first selecting which game you interested in first:</h3>
    </div>

    <div class="container-fluid position-relative d-flex justify-content-center mt-4">
        <div class="col-8 d-flex justify-content-center">
            {% for game in games %}


            <div class="card m-3" style="width: 18rem;">
                {% cloudinary game.image.url width="286" crop="fit" alt=game.name %}
                <div class="card-body">
                    <h5 class="card-title">{{ game.name }}</h5>
                    <a href="{% url 'server-list' game.slug %}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{%endblock%}