{% extends "base.html" %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 text-light">
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-11 col-11 d-flex flex-column align-items-left">
        <!-- Page header -->
        <h2 class="text-light text-center m-5">{{ server.title }}</h2>
        <hr class="border border-light border-3 opacity-75 w-100 mt-0">
            <p class="text-light text-center">{{ server.game }}</p>
            <!-- Image -->
            <div class="col-12 p-1 position-relative overflow-hidden d-flex flex-wrap mb-3 justify-content-center">
                {% if images.0.image %}
                <img style="max-width: 100%; max-height: 50vh;" src=" {{ images.0.image }}"
                    alt="Image uploaded by for listing owner.">
                {% else %}
                <div class="no-gutter d-flex flex-column justify-content-center text-bg-secondary opacity-75"
                    style="width: 100%; height: 20vh;">
                    <p class="mb-1 text-center" style="font-size: xxx-large;"><i class="bi bi-camera"></i></p>
                    <p class="mb-1 text-center" style="font-size: xx-large;">Awaiting Image</p>
                </div>
                {% endif %}
            </div>
            <!-- Listing tags -->
            <div class="d-flex justify-content-center">
                {% for tag in server.tags.all %}
                <span class="badge rounded-pill bg-info text-dark ms-2 me-2 mb-1"><i class="bi bi-tag"></i>{{ tag }}</span>
                {% endfor %}
            </div>
            <!-- Bumps -->
            <div class="d-flex mb-3">
                <span class="d-flex bg-semi rounded-2 pe-2">
                    {% if user.is_authenticated %}
                    {% if server.id in bumps_queryset %}
                    <button type="button" class="btn btn-light" data-item="{{ server.pk }}"
                        data-name='Bump Button' data-bs-toggle="tooltip" title="Bumped!"><i class="fa-solid fa-hand-fist"></i></button>
                    {% elif bumps_queryset|length > 4 %}
                    <button type="button" class="btn btn-danger opacity-50" data-item="{{ server.pk }}"
                        data-name='Bump Button' data-bs-toggle="tooltip" title="Out of bumps!"><i class="fa-solid fa-hand-fist"></i></button>
                    {% else %}
                    <button type="button" class="btn btn-dark" data-item="{{ server.pk }}"
                        data-name='Bump Button' data-bs-toggle="tooltip" title="Bump server."><i class="fa-solid fa-hand-fist"></i></button>
                    {% endif %}
                    {% else %}
                    <button type="button" class="btn btn-dark border-orange text-orange" data-bs-toggle="tooltip" title="Login to bump."><i class="fa-solid fa-hand-fist"></i></button>
                    {% endif %}
                    <p class="mb-0 align-self-center ms-1">{{server.bump_count}}</p>
                </span>
            </div>

            <div class="d-flex border rounded">
                <!-- Discord button -->
                <a class="btn btn-dark text-light w-100" href="https://discord.com/invite/{{ server.discord }}"
                target="_blank" data-bs-toggle="tooltip" title="Join the discord."><i class="fab fa-discord"></i> Discord</a>
                {% if server.tiktok%}
                <!-- TikTok button -->
                <a class="btn btn-dark text-light w-100" href="https://www.tiktok.com/{{ server.tiktok }}"
                data-bs-toggle="tooltip" title="Check out the TikTok." disabled><i class="bi bi-tiktok"></i> TikTok</a>
                {% endif %}
            </div>
            {% if user.is_staff %}
            <div class="d-flex border rounded mt-3">
                <div class="align-self-center w-100 mb-0">
                    <p class="text-center mb-0">Staff view:</p>
                </div>
                <a class="btn btn-dark text-light w-100" href="/staff_user_management_user/{{server_owner.id}}"
                data-bs-toggle="tooltip" title="Owner's profile."><i class="bi bi-eye"></i> Owner</a>
                <a class="btn btn-dark text-light w-100" href="/server_edit/{{server.id}}"
                data-bs-toggle="tooltip" title="Edit listing."><i class="bi bi-pencil-square"></i> Listing</a>

            </div>
            {% endif %}
            <!-- Short description -->
            <p class="text-light">{{ server.short_description|safe }}</p>
            <!-- Long description -->
            <p class="text-light">{{ server.long_description|safe }}</p>
    </div>
</div>
{%endblock%}
{% block scripts %}
<!-- Scripts specific for this page -->
<script src="{% static 'js/prism.js' %}"></script>
<script src="{% static 'js/script_bumps.js' %}"></script>
{% endblock %}