{% extends "base.html" %}

{% block content %}

<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100">
    <div class="col-8">

        <h2 class="text-light">{{ server.title }}</h5>
        <p class="text-light">{{ server.game }}</p>
        {% if "placeholder" in server.logo.url %}
        <img class="img-fluid mb-3" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
        {% else %}
        <img class="img-fluid mb-3" src=" {{ server.logo.url }}">
        {% endif %}
        <p class="text-light mb-3">Tags:
            {% for tag in server.tags.all %}
            <span class="tag rounded-end text-light me-1 p-1">{{ tag }}</span>
            {% endfor %}
        </p>
        <a class="btn btn-discord text-light mb-3" href="https://discord.com/invite/{{ server.discord }}" target="_blank" title="Link to discord server"><i class="fab fa-discord"></i> Join the discord server</a>
        {% if server.id in bumps_queryset %}
        <button type="button" class="btn btn-success mb-3" disabled name="" data-item="{{ server.pk }}" data-name='Bump Button'>Already bumped!</button>
        {% elif bumps_queryset|length > 4 %}
        <button type="button" class="btn btn-warning mb-3" disabled name="" data-item="{{ server.pk }}" data-name='Bump Button'>No more bumps!</button>
        {% else %}
        <button type="button" class="btn btn-primary mb-3" name="" data-item="{{ server.pk }}" data-name='Bump Button'>Bump this server</button>
        {% endif %}
        <p class="text-light">{{ server.short_description }}</p>
        <p class="text-light">{{ server.long_description }}</p>

    </div>


</div>

{%endblock%}