{% extends "base.html" %}
{% block head %}

{% load static %}
<link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100 text-light">
    <!-- Main content -->
    <div class="col-8">
        <div class="p-1 m-3">
            <h1 class="text-light">Server Listings</h1>
        </div>
        {% for item in server_listings %}
        <div class="d-flex p-1 m-3 bg-1 rounded-3">
            <!-- Listing image-->
            <div class="col-3 p-1 position-relative overflow-hidden d-flex flex-wrap justify-content-center"
                style="max-width: 100%; max-height: 25vh;">
                {% if item.image_url %}
                <img class="img-cover" style="height: 25vh;" src="{{ item.image_url }}"
                    alt="Image uploaded by for listing owner.">
                {% else %}
                <div class="d-flex flex-column justify-content-center text-bg-secondary opacity-75"
                    style="width: 100%; height: 25vh;">
                    <p class="mb-1 text-center"><i class="bi bi-camera"></i></p>
                    <p class="mb-1 text-center">Awaiting Image</p>
                </div>
                {% endif %}
            </div>
            <div class="col-9 p-1 position-relative">
                <!-- Listing title -->
                <a href="{% url 'server_detail' item.slug %}" class="text-decoration-none">
                    <h5 class="text-light">{{ item.title }}</h5>
                </a>
                <!-- Listing tags -->
                <p>
                    {% for tag in item.tags.all %}
                    <span class="badge rounded-pill bg-info text-dark"><i class="bi bi-tag"></i>{{ tag }}</span>
                    {% endfor %}
                </p>
                <!-- Listing short decryption -->
                <p class="text-light">{{ item.short_description|safe }}</p>
                <!-- Listing bump counter and bump button -->
                <div class="d-flex position-absolute bottom-0 end-0">
                    <p class="mb-0 align-self-center me-1">{{item.bump_count}}</p>
                    {% if user.is_authenticated %}
                    {% if item.id in bumps_queryset %}
                    <button type="button" class="btn btn-light" data-item="{{ item.pk }}"
                        data-name='Bump Button' data-bs-toggle="tooltip" title="Bumped!"><i class="fa-solid fa-hand-fist"></i></button>
                    {% elif bumps_queryset|length > 4 %}
                    <button type="button" class="btn btn-danger opacity-50" data-item="{{ server.pk }}"
                        data-name='Bump Button' data-bs-toggle="tooltip" title="Out of bumps!"><i class="fa-solid fa-hand-fist"></i></button>
                    {% else %}
                    <button type="button" class="btn btn-dark" data-item="{{ item.pk }}"
                        data-name='Bump Button' data-bs-toggle="tooltip" title="Bump server."><i class="fa-solid fa-hand-fist"></i></button>
                    {% endif %}
                    {% else %}
                    <button type="button" class="btn btn-dangeropacity-50" data-bs-toggle="tooltip" title="Login to bump."><i class="fa-solid fa-hand-fist"></i></button>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Sidebar -->
    <div class="col-4 bg-3 me-0 text-light ps-3 pt-3">
        <h3 class="mb-3">Filter search</h3>
        <hr class="border border-light border-2 opacity-75 mt-0 ms-2 me-3">
        <div class="mb-3">
            <h5>Tags selected:</h5>
            {% if selected_tags|length == 0 %}
            <p>None</p>
            {% endif %}
            {% for selected_tag in selected_tags %}
            <a class="btn btn-info m-1" href="{% url 'server-list-wth-tags' slug 'R%'|add:selected_tag|add:tag_string %}"
                role="button">{{ selected_tag }} <i class="bi bi-x"></i></a>
            {% endfor %}
        </div>
        <hr class="border border-light border-2 opacity-75 mt-0 ms-3 me-3">
        <div>
            <h5>Tags to choose from:</h5>
            {% for tag in tags %}
            <a class="btn btn-info m-1" href="{% url 'server-list-wth-tags' slug 'A%'|add:tag.name|add:tag_string %}"
                role="button">{{ tag.name }}</a>
            {% endfor %}
        </div>

    </div>
</div>
{%endblock%}
{% block scripts %}
<!-- Scripts specific for this page -->
<script src="{% static 'tinymce/js/prism.js' %}"></script>
<script src="/static/js/script_bumps.js"></script>
{% endblock %}