{% extends "base.html" %}
{% block title %}Edit Server Listing{% endblock %}

{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100">
    <div class="col-8  align-items-center text-light">
        <h2>Edit Listing</h2>
        {% crispy form %}
        <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#server-listing-delete-modal">
            Delete Listing
        </button>
    </div>
</div>


<!-- Listing delete Modal -->
<div class="modal fade text-dark" id="server-listing-delete-modal" tabindex="-1" role="dialog"
    aria-labelledby="Sever Listing Delete Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Delete Listing Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" id="server-listing-delete-form">
                {% csrf_token %}
                <div class="modal-body">
                    <p>
                        Deleting this listing is permanent and irreversible.
                    </p>
                    {{ form_2|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" name="server-listing-delete-confirm">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}