{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 text-light">
    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-11 col-11 d-flex flex-column align-items-left">
        <!-- Page header -->
        <h2 class="text-light text-center m-5">Create Listing</h2>
        <hr class="border border-light border-3 opacity-75 w-100 mt-0">
        <form method="post" enctype="multipart/form-data" id="listing-form" class="w-100 d-flex flex-column mb-3">
            {% csrf_token %}
            {{ form.game | as_crispy_field}}
            {{ form.title | as_crispy_field}}
            {{ image_form.image | as_crispy_field}}
            <!-- Tag selection using Select2 -->
            <label for="tags-multiple" class="mb-1">Choose tags: (max: 10)*</label>
            <select id="tags-multiple" class="tags-multiple" name="tags" multiple="multiple" style="width: 100%;">
            </select>
            <div class="mb-3"></div>
            {{ form.short_description | as_crispy_field}}
            {{ form.long_description | as_crispy_field}}
            {{ form.discord | as_crispy_field}}
            {{ form.tiktok | as_crispy_field}}
            {{ form.status | as_crispy_field}}
            <div class="d-flex mb-3 border rounded">
                <button type="submit" class="btn btn-dark w-100" aria-label="Save" data-bs-toggle="tooltip" title="Save"><i class="bi bi-save"></i></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Scripts specific for this page -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.tiny.cloud/1/r8a6ywx8flmlcce7hywu1s3qtc2dt1jyqoe1iie2vy0uwyen/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: 'emoticons wordcount lists',
        menubar: false,
        statusbar: true,
        branding: true,
        elementpath: false,
        toolbar: 'wordcount | emoticons | blocks fontsize | hr | bold italic underline strikethrough | backcolor | alignleft aligncenter alignright alignjustify | indent outdent | numlist bullist| removeformat',
        content_css: "{% static 'css/tinymce.css' %}"  // resolved to http://domain.mine/mysite/mycontent.css
    });
</script>
<script src="{% static 'js/script_server_create.js' %}"></script>
{% endblock %}
