{% extends "base.html" %}
{% block title %}Create Server Listing{% endblock %}

{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100">
    <div class="col-8  align-items-center text-light">
        <h2>Create Listing</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="form-group">

            </div>
            {% csrf_token %}
            <div class="mb-3">
                {{ form.game | as_crispy_field}}
                {{ form.title | as_crispy_field}}
                {{ image_form.image | as_crispy_field}}
                {{ form.tags | as_crispy_field}}
                {{ form.short_description | as_crispy_field}}
                {{ form.long_description | as_crispy_field}}
                {{ form.status | as_crispy_field}}
                {{ form.discord | as_crispy_field}}
            </div>
            <button type="submit" class="btn btn-primary">Create Listing</button>
        </form>

    </div>
</div>

{% endblock %}