{% extends "base.html" %}

{% block content %}


<div class="container-fluid no-gutters justify-content-center d-flex ps-0 pe-0 h-100 text-light">
    <!-- Main content -->
    <div class="col-8">
        <div class="p-1 m-3">
            <h1 class="text-light">Server Listings</h1>
        </div>
        {% for item in server_listings %}
        <div class="d-flex p-1 m-3 bg-1 rounded-3">

            <!-- Thumbnail-->
            <div class="p-1 position-relative overflow-hidden d-flex flex-wrap">
                {% if item.image_url %}
                <img class="myimg" src=" {{ item.image_url }}" alt="Image uploaded by for listing owner.">
                {% else %}
                <div class="d-flex flex-column justify-content-center text-bg-secondary opacity-75 ps-2 pe-2">
                    <p class="mb-1 text-center"><i class="bi bi-camera"></i></p>
                    <p class="mb-1 text-center">Awaiting Image</p>
                </div>
                {% endif %}
            </div>

            <div class="p-1">
                <a href="{% url 'server_detail' item.slug %}" class="text-decoration-none">
                    <h5 class="text-light">{{ item.title }}</h5>
                </a>
                <p class="text-light">{{ item.short_description }}</p>
                <p class="text-light">Tags:
                    {% for tag in item.tags.all %}
                    <span class="tag rounded-end text-light me-1 p-1">{{ tag }}</span>
                    {% endfor %}
                </p>
                {% if item.id in bumps_queryset %}
                <button type="button" class="btn btn-success" disabled name="" data-item="{{ item.pk }}"
                    data-name='Bump Button'>Already bumped!</button>
                {% elif bumps_queryset|length > 4 %}
                <button type="button" class="btn btn-warning mb-3" disabled name="" data-item="{{ server.pk }}"
                    data-name='Bump Button'>No more bumps!</button>
                {% else %}
                <button type="button" class="btn btn-primary" name="" data-item="{{ item.pk }}"
                    data-name='Bump Button'>Bump this server</button>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Sidebar -->
    <div class="col-4 bg-3 me-0 text-light ps-3 pt-3">
        <h3>Filter search</h3>
        <h4>Tag selected</h4>
        {% for selected_tag in selected_tags %}
        <a class="btn btn-primary m-1" href="{% url 'server-list-wth-tags' slug 'R%'|add:selected_tag|add:tag_string %}"
            role="button">{{ selected_tag }}</a>
        {% endfor %}
        <h4>Select Tags</h4>
        {% for tag in tags %}
        <a class="btn btn-primary m-1" href="{% url 'server-list-wth-tags' slug 'A%'|add:tag.name|add:tag_string %}"
            role="button">{{ tag.name }}</a>
        {% endfor %}
    </div>
</div>



{%endblock%}